---
layout: base.njk
---

{%- block singleTop-%}
  {%- include '../_components/_pagetitle.njk' -%}
{%- endblock singleTop-%}

<section class="max-w-screen-lg mx-auto px-5">
    <hr/>
    {% include '../_components/_contact.njk' %}
</section>