<!-- footer end -->
<footer id="footer" class="md:py-6 border-t border-gray-200 dark:border-gray-600">
    <div class="text-justify md:text-left max-w-screen-lg m-auto sm:flex sm:justify-between sm:items-center text-sm">
        <p id="credit" class="p-5 text-gray-500 dark:text-gray-400">
            May the merits and virtues accrued from this work adorn the Buddha’s Pure Land, repay the Four Kindness above and
            relieve the sufferings of those in the Three Realms below. May those who see, hear and read this sutra bring forth the
            Bodhi mind and live the teachings for the rest of this life, then be born together in the Land of Ultimate Bliss —
            <a class="text-gray-600" href="/about/">What is this Sutra?</a>
        </p>
    </div>
</footer>
<!-- footer end -->