<!-- hero -->
<section id="hero" class="pb-10 flex justify-center items-center">
    <div
        class="max-w-screen-lg m-auto px-5">
        {# this is for homepage 
                                                                                                                                                                                                                <img src="{{metadata.author.avatar}}" class="rounded-full w-16 h-16 mb-5" alt="my avatar" width="64" height="64"/> #}
        <h1 class="text-5xl md:text-7xl tracking-tighter text-center font-bold mb-10 dark:text-purple-100">
            {{ title | safe }}
        </h1>
        <h2 class="text-xl md:text-3xl text-gray-700 text-justify md:text-center font-normal dark:text-gray-400">
            {{ description }}
        </h2>
    </div>
</section>
<!-- hero end -->