{% if tags %}
    {% if 'sutra' in tags %}
        {% set previousPost = collections.sutra | getPreviousCollectionItem(page) %}
        {% set nextPost = collections.sutra | getNextCollectionItem(page) %}
        {% set middleText = 'browse' %}
    {% endif %}
    {% if 'fafsa' in tags %}
        {% set previousPost = collections.fafsa | getPreviousCollectionItem(page) %}
        {% set nextPost = collections.fafsa | getNextCollectionItem(page) %}
        {% set middleText = 'read' %}
    {% endif %}
{% endif %}
{% if previousPost or nextPost %}
    <div class="grid grid-cols-2 mt-10 max-w-screen-lg mx-auto px-5 gap-x-2 border-t border-gray-200 dark:border-gray-600">
        <div id="previousPost" class="py-5">
            {% if previousPost %}
                <strong
                    class="block text-xs tracking-widest font-normal uppercase text-gray-400"
                    aria-label="Navigate to previous item">Previous</strong>
                <a href="{{ previousPost.url }}" class="text-lg font-semibold leading-tight tracking-tight transition-colors">
                    <span class="block" style="min-height:60px;">{{ previousPost.data.description }}</span>
                </a>
            {% endif %}
        </div>
        <div id="nextPost" class="w-full py-5 text-right">
            {% if nextPost %}
                <strong class="block text-xs tracking-widest font-normal uppercase text-gray-400" aria-label="Navigate to Next item">Next</strong>
                <a href="{{ nextPost.url }}" class="text-lg leading-tight tracking-tight font-semibold transition-colors">
                    <span class="block" style="min-height:60px;">{{ nextPost.data.description }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}