<section id="post-head" class="px-5 max-w-screen-lg mx-auto">
    <h1 class="text-5xl md:leading-tight tracking-tighter font-bold dark:text-purple-100">{{ title }}</h1>
    <p class="my-10 text-2xl font-normal dark:text-gray-300">{{ description }}</p>
</section>